@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    
}

#box-res {
    height: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#search-res:hover{
    background-color: deepskyblue;
    cursor: pointer;
}


#t-btn {
    position: center;
}

#to-box {
    height: 14rem;
    width: 100%;
    resize: vertical;
    flex-direction: column;
}
